* {
    margin: 0px;
}
body {
    background-image: url(https://www.umkc.edu/global-assets/images/slant_pattern.png);
}

p {
    color: #0066cc;
    text-align: center;
    font-size: 30px;
    max-width: 1000px;
    min-width: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 45em;
    font-family: sans-serif, Arial;

}


#Section1 {
    background-image: url('titleBackground.jpg');
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
    

  
}

.Section2 {
    background-color: #ffffff;
    width: 100px;
    margin: auto;
    width: 85%;
    padding: 50px;
    color: #0066cc;
}

#middleText {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 45em;
    font-family: sans-serif, Arial;
    color: #0066cc;
}

#imageEdit {
float: left;

padding-right: 40px;

width: 500px ;
height: 350px ;
padding-bottom:40px;
padding-left: 70px;





}

#imageTitle {
    padding-left: 5em;
    padding-top: 7em;
    color: #0066cc;
    
}
/*BUTTON CONFIG*/
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: #0066cc;
    border: 2px solid #0066cc;
}

.button1:hover {
        background-color: #0066cc;
        color: white;
}
